<div class="container-fluid">
    <div class="row section-title">
        <div class="col">
            <h1>Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-flex  justify-content-end">
                <button class="btn btn-outline" routerLink="add">Add User</button>
                <button class="btn btn-success-outline">Export</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col sm">
            <ag-grid-angular ag-grid-angular
                style="width: 100wh; height: 80vh;"
                class="ag-theme-alpine"
                [rowData]="users"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                pagination="true"
                pageSize="10"
                paginationAutoPageSize="false"
                [frameworkComponents]="frameworkComponents"
                [rowHeight]="120"
            >
            </ag-grid-angular>
        </div>
    </div>
</div>