
      <nz-sider class="menu-sidebar"
                  nzCollapsible
                  nzWidth="256px"
                  nzBreakpoint="md"
                  [(nzCollapsed)]="isCollapsed"
                  [nzTrigger]="null">
          <div class="sidebar-logo">
            <a routerLink='dashboard'>
              <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
              <h1>Lowwm-Baguio</h1>
            </a>
          </div>
          <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/welcome">Welcome</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a>3GM Diagram</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a>Widgets</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Members" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>
            <li nz-submenu nzTitle="Training" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>

            <li nz-submenu  nzTitle="Reports" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>

            <li nz-submenu  nzTitle="Bookings" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>
            
            <li nz-submenu  nzTitle="Webpage" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>

            <li nz-submenu  nzTitle="Store" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>

            <li nz-submenu  nzTitle="Archives" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>

            
            <li nz-submenu  nzTitle="Folders" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>

            <li nz-submenu  nzTitle="Logs" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>

            <li nz-submenu  nzTitle="Settings" nzIcon="user">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/users" class="nav-link" routerLinkActive='active'><span class="nav-text">Users</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/networks" class="nav-link" routerLinkActive='active'><span class="nav-text">Networks</span></a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/cellgroups" class="nav-link" routerLinkActive='active'><span class="nav-text">Cellgroups</span></a>                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/dashboard/vips" class="nav-link" routerLinkActive='active'><span class="nav-text">VIPs</span></a>                </li>
              </ul>
            </li>
          </ul>

        </nz-sider>
        <nz-layout>
          <nz-header>
            <div class="app-header">
              <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                  <i class="trigger"
                     nz-icon
                     [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                  ></i>
              </span>
            </div>
          </nz-header>
          <nz-content>
            <div class="inner-content">
              <router-outlet></router-outlet>
            </div>
          </nz-content>
        </nz-layout>