@import "~@ng-select/ng-select/themes/default.theme.css";

.profile-pic {
    width: 250px;
    height: 250px;
}

.ng-select.custom {
    border:1px solid #000;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}