/* You can add global styles to this file, and also import other style files */
@import "node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

body {
    overflow-x: hidden;
}

.modal-content{
    position: fixed;
    height: 1000px;
    width: 80vw;
    border-radius: 0 !important;
    top: 0;
    animation: show-from-right-animation 1s cubic-bezier(1, 0.610, 0.355, 1) forwards;
}

.modal-dialog {
    right: -100%;
}

@keyframes show-from-right-animation {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}